<template name="analytics">

	<p>
		<div>
			<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#centerNameMapping">中心代號：</button>
		</div>
		<span id="centerNameMapping" class="collapse">
			{{showCenterNameMapping}}
		</span>
	</p>

	<br>

	<div class="row" style="background: #ffffff">
		{{> c3 myChartData}}
	</div>

	<br>

	<div class="row">
		<div class="col-sm-6">
			{{> highchartsHelper chartId="bar_bookedRoomsDistribution" chartWidth="100%" chartHeight="100%" chartObject=bar_bookedRoomsDistribution}}
		</div>
		<div class="col-sm-6">
			{{> highchartsHelper chartId="bar_incomeDistribution" chartWidth="100%" chartHeight="100%" chartObject=bar_incomeDistribution}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			{{> highchartsHelper chartId="pie_bookedRoomsDistribution" chartWidth="100%" chartHeight="100%" chartObject=pie_bookedRoomsDistribution}}
		</div>
		<div class="col-sm-6">
			{{> highchartsHelper chartId="pie_incomeDistribution" chartWidth="100%" chartHeight="100%" chartObject=pie_incomeDistribution}}
		</div>
	</div>

</template>